## SQL and SQLite

SQL is standard language for managing and manipulating relational databases. SQLite is self-contained, serverless and zero-configuration database engine that is widely used for embedded database systems.

In [ ]:
import sqlite3

In [ ]:
# connect to and SQLite database
connection = sqlite3.connect("example.db")
connection

In [ ]:
cursor = connection.cursor()

In [ ]:
## create a table
cursor.execute('''
Create Table If Not Exists employees(
  id Integer Primary Key,
  name Text Not Null,
  age Integer,
  department text
)
''')

# commit the changes
connection.commit()

In [ ]:
cursor.execute('''
Select * from employees

''')

In [ ]:
# Insert data into SQLite table
cursor.execute('''
    INSERT INTO employees(name, age, department)
    VALUES('Bhisham', 25, 'ML')
''')

cursor.execute('''
    INSERT INTO employees(name, age, department)
    VALUES('Bob', 35, 'eng')
''')

cursor.execute('''
    INSERT INTO employees(name, age, department)
    VALUES('pk', 25, 'Web dev')
''')

# commit the changes
connection.commit()

In [ ]:
# query the data from the table
cursor.execute("Select * from employees")
rows = cursor.fetchall()

## print the queried data
for row in rows:
  print(row)

(1, 'Bhisham', 25, 'ML')
(2, 'Bob', 35, 'eng')
(3, 'pk', 25, 'Web dev')
(4, 'Bhisham', 25, 'ML')
(5, 'Bob', 35, 'eng')
(6, 'pk', 25, 'Web dev')

In [ ]:
## update th data in the table
cursor.execute('''
update employees
set age = 28
where name = "Bob"
''')

connection.commit()

In [ ]:
# query the data from the table
cursor.execute("Select * from employees")
rows = cursor.fetchall()

## print the queried data
for row in rows:
  print(row)

(1, 'Bhisham', 25, 'ML')
(2, 'Bob', 28, 'eng')
(3, 'pk', 25, 'Web dev')
(4, 'Bhisham', 25, 'ML')
(5, 'Bob', 28, 'eng')
(6, 'pk', 25, 'Web dev')

In [ ]:
## delete the data from the table
cursor.execute('''
Delete from employees
where name = "Bob"
''')

connection.commit()

In [ ]:
# query the data from the table
cursor.execute("Select * from employees")
rows = cursor.fetchall()

## print the queried data
for row in rows:
  print(row)

(1, 'Bhisham', 25, 'ML')
(3, 'pk', 25, 'Web dev')
(4, 'Bhisham', 25, 'ML')
(6, 'pk', 25, 'Web dev')

In [ ]:
## working with sales data
connection = sqlite3.connect("sales_data.db")
cursor = connection.cursor()

# create a table for sales data
cursor.execute('''
create table if not exists sales(
  id integer primary key,
  date text not null,
  product text not null,
  sales integer,
  region text
)
''')

# insert data into the sales table
sales_data= [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-04', 'Product1', 300, 'East'),
    ('2023-01-05', 'Product3', 400, 'West'),
    ('2024-01-01', 'Product2', 600, 'North'),
]

cursor.executemany('''
insert into sales(date, product, sales, region)
values(?,?,?,?)
''',sales_data)

connection.commit()

In [ ]:
# query the data from the table
cursor.execute("Select * from sales")
rows = cursor.fetchall()

## print the queried data
for row in rows:
  print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-04', 'Product1', 300, 'East')
(4, '2023-01-05', 'Product3', 400, 'West')
(5, '2024-01-01', 'Product2', 600, 'North')

In [ ]:
# close the connection
connection.close()

In [ ]:
# query the data from the table
cursor.execute("Select * from sales")
rows = cursor.fetchall()

## print the queried data
for row in rows:
  print(row)

ProgrammingError: Cannot operate on a closed database.